<!-- Display all of the posts within the category -->
<ul class="post-list">
	{%- for post in site.categories[page.category] -%}
		<li>

			<div class="post-card">
				<a href="{{ post.url | relative_url }}" onclick="ga('send', 'event', 'clicks', 'project click', '{{ post.title }}');">
					<div class="post-thumbnail">
						<img src= "{{ post.thumbnail_link }}">
					</div>

					<div class="post-title">
						<h3>
							<div class="post-link">
								{{ post.title | escape }}
							</div>
						</h3>
					</div>
				</a>
				
				<!-- Author and date -->
				<div class="post-meta">
					{%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
					<span class="post-meta">
						<span class="post-author">{{ post.author }}</span>
						posted this on
						<span class="post-date">{{ post.date | date: date_format }}</span>
					</span>
				</div>
			</div>
			
			{%- if site.show_excerpts -%}
				{{ post.excerpt }}
			{%- endif -%}
		</li>
	{%- endfor -%}
</ul>
