<!-- This include is very non-inclusive, but I didn't want to deal with minima's new layout -->
<ul class="social-media-list">
  <li>
    <a href="https://github.com/LeeCombs" onclick="ga('send', 'event', 'clicks', 'social click', 'github');" >
      <svg class="svg-icon"><use xlink:href="/assets/minima-social-icons.svg#github"></use></svg> <span class="username">LeeCombs</span>
    </a>
  </li>
  <li>
    <a href="https://www.twitter.com/Fractal_Pixels" onclick="ga('send', 'event', 'clicks', 'social click', 'twitter');">
      <svg class="svg-icon"><use xlink:href="/assets/minima-social-icons.svg#twitter"></use></svg> <span class="username">Fractal_Pixels</span>
    </a>
  </li>
</ul>
